<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head"></head>
<body class="bg-dark">
	<header th:replace="/layout/layout :: header"></header>
	<div class="container">
		<div class="card mt-5">
			<div class="card-header">Crear Factura</div>
			<div class="card-body">
				<a th:href="@{/costumerEdit/} + ${factura.costumer.id}"><input
					class="btn btn-light btn-sm" value="<< volver"></a>
				<form th:action="@{/factura/facturaNew}" th:object="${factura}"
					method="POST">

					<div class="form-group row my-2">
						<label class="col-sm-2 col-form-label">Cliente</label>
						<div class="col-sm-6">
							<input th:value="${factura.costumer.name}" class="form-control"
								disabled />
						</div>
					</div>
					<div class="form-group row my-2">
						<label class="col-sm-2 col-form-label">Nit</label>
						<div class="col-sm-6">
							<input th:value="${factura.costumer.nit}" class="form-control"
								disabled />
						</div>
					</div>
					<!-- Id factura 
					<input type="text" th:field="*{id}" class="d-none" />-->
					<div class="form-group row my-2">
						<label class="col-sm-2 col-form-label">Fecha</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{createAt}" class="form-control"
								placeHolder="dd-MM-YYYY"
								th:errorclass="'form-control alert-danger'"/> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}"
								th:errors="*{createAt}"></small>
						</div>
					</div>
					<div class="form-group row my-2">
						<label class="col-sm-2 col-form-label">Descripción</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{description}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}"></small>
						</div>
					</div>
					<div class="form-group row my-2">
						<label class="col-sm-2 col-form-label">Observación</label>
						<div class="col-sm-6">
							<textarea th:field="*{observation}" class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group row my-2">
						<label class="col-sm-2 col-form-label">Producto</label>
						<div class="col-sm-6">
							<select th:field="*{product}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option value=""></option>
								<option value="natural">Landing-Page</option>
								<option value="juridica">App-Web</option>
								<option value="juridica">App-Movil Hibrida</option>
								<option value="natural">Asesoria</option>
								<option value="natural">Asesoria Universitaria</option>
							</select><small class="form-text text-danger"
								th:if="${#fields.hasErrors('product')}" th:errors="*{product}"></small>
						</div>
					</div>
					<div class="form-group row my-2">
						<label class="col-sm-2 col-form-label">Total</label>
						<div class="col-sm-6">
							<input type="number" th:value="${factura.precio}"
								th:field="*{precio}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
						</div>
					</div>
					<div class="form-group row mt-4">
						<div class="col-sm-6">
							<input type="submit" value="crear factura"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>


	<footer th:replace="/layout/layout :: footer"></footer>

</body>
</html>